<div>
    <p> This profile defines the audit trail consumption requirements a community has to provide for a patient.
        The profile CH:ATC defines and precises the actors and transaction [ITI-81] of the <a href="http://www.ihe.net/uploadedFiles/Documents/ITI/IHE_ITI_Suppl_RESTful-ATNA.pdf">IHE IT Infrastructure Technical Framework
         Supplement Add RESTful Query to ATNA</a> and defines the content of the Audit Messages. The different types of 
         the Audit Messages are based on the requirements for Document and Policy Access management in order to achieve the 
         Swiss regulation needs on the audit trail access by patients. These Audit Event types differ from the Audit Events which 
         have also to be logged according to the IHE / CH:ATNA requirements.
    </p>

    <p>The CH:ATC profile text in the National Integration Profiles (SR816.11, Annex 5, Extension 2) is normative, this Implementation Guide is informative. This Implementation Guide is built with
        <a href="http://wiki.hl7.org/index.php?title=IG_Publisher_Documentation">IG Publisher</a> from HL7. See
        <a href="https://www.e-health-suisse.ch/startseite.html">ehealth-suisse.ch</a> for more information about the Electronic Patient Record in Switzerland.
    </p>

    <h2>Profiles</h2>
    {% include list-structuredefinitions.xhtml %}

    <h2>Value Sets</h2>
    {% include list-simple-valuesets.xhtml %}

    <h2>Examples</h2>
    {% include list-auditevents.xhtml %}
    {% include list-bundles.xhtml %}

</div>