<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <!--<li>
    <a href="toc.html">Table of Contents</a>
  </li>-->
  <li>
    <a href="index.html">Home</a>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Volume 1
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="profiles.html">Profiles</a>
      </li>
    </ul>
  </li>
    <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Volume 2
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="profiles.html">Profiles</a>
      </li>
    </ul>
  </li>
    <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Appendix
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="profiles.html">Profiles</a>
      </li>
      <li>
        <a href="terminology.html">Terminology</a>
      </li>
      <li>
        <a href="searchparameters.html">Search Parameters</a>
      </li>
      <li>
        <a href="changelog.html">Open Issues / Changelog</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="artifacts.html">Artifacts</a>
  </li>
</ul>